.employee-table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 18px;
    text-align: left;
  }
  
  .employee-table th, .employee-table td {
    padding: 12px 15px;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .employee-table th {
    background-color: #96ca1c;
  }
  
  .employee-table tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  .employee-table tr:hover {
    background-color: #cff3fc;
  }
  
  .employee-table button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .employee-table button:hover {
    background-color: #ff1a1a;
  }